<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') -%>

<body>
    <div id="wrapper">
    <%- include('../partials/header') -%>
    <%- include('../partials/navigation') -%>
    
        <main>
            <%- block content -%>
        </main>

    <%- include('../partials/footer') -%>
    </div>
</body>

</html>